<div class="flex flex-col gap-4">
  <%= link_to "Persona", personas_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Voluntarios", voluntarios_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Productos", productos_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Alimentos", alimentos_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Economica", economicas_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Organizacion Benefica", organizacion_beneficas_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Solicitud", solicituds_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Almacen", almacens_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Inventario", inventarios_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Donacion", donacions_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Responsable", responsables_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Establecimiento", establecimientos_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  <%= link_to "Cuenta Bancaria", cuenta_bancaria_path, html_options ={class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
  
</div>

