<div id="<%= dom_id producto %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= producto.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= producto.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= producto.quantity %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this producto", producto, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this producto", edit_producto_path(producto), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
