<div id="<%= dom_id donacion %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Producto:</strong>
    <%= donacion.producto_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Alimento:</strong>
    <%= donacion.alimento_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Solicitud:</strong>
    <%= donacion.solicitud_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this donacion", donacion, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this donacion", edit_donacion_path(donacion), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
