<div id="<%= dom_id cuenta_bancarium %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= cuenta_bancarium.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank:</strong>
    <%= cuenta_bancarium.bank %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= cuenta_bancarium.user %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this cuenta bancarium", cuenta_bancarium, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this cuenta bancarium", edit_cuenta_bancarium_path(cuenta_bancarium), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
